# Observations and Insights

In [58]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [59]:
# Combine the data into a single dataset
combined_df = pd.merge(mouse_metadata, study_results, how='left', on='Mouse ID')
# Display the data table for preview
combined_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [61]:
# Checking the number of mice. 
# Unique mice or total count? 
mice_count = len(combined_df['Mouse ID'].unique())
mice_count

249

In [ ]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

duplicate_mice = [combined_df.duplicated(keep=False)]

if 'Mouse ID' == 'Timepoint':
    duplicate_mice()

duplicate_mice

In [ ]:
# Optional: Get all the data for the duplicate mouse ID.

# index_ID = combined_df.set_index('Mouse ID')
# duplicate_count = combined_df.loc[combined_df['Mouse ID']]
# duplicate_mouse = duplicate_count['Timepoint'].count()

In [ ]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [ ]:
# Checking the number of mice in the clean DataFrame.
# Change to reflect new df 
mice_count = len(combined_df['Mouse ID'].unique())
mice_count

# Summary Statistics

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

# Bar and Pie Charts